@font-face{
    font-family:"Rift";
        src: url("../data/Fonts/RiftSoft-BoldItalic.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.main{
  position: fixed;
  width: 100%;
  height: 100%;
}

.intro-text {
    font-family: 'Rift', Fallback, sans-serif !important;
    font-size: 60px;
    text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 2px 2px rgb(0, 0, 0), -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
  }

.sub-text {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

    font-family: 'Rift', Fallback, sans-serif !important;
    font-size: 40px;
}

.patch-notes-card{
  scrollbar-width: 0px;
  background-color: #252d32;
  padding: 20px;
  border-radius: 20px;
  margin-top: 57px;
  width: 50%;
  height: 85%;
  /* max-width: 75%; */
  box-shadow: 0px 0px 7px 2px;
  overflow-y: scroll;
}


.patch-notes-card::-webkit-scrollbar {
  display: none;
}

.notes{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.PatchSection{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-family: 'Rift', Fallback, sans-serif !important;
}

.Patch > li{
  
  list-style-image: url('../data/image/bullet.png');
  text-align: left;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
}

.PatchDesc{
  list-style: none;
  text-align:left;
  font-weight: 400;
  font-size: 14px;
}

@media only screen 
  and (max-device-width: 812px)  { 

    .intro-text{
      font-size: 40px;
    }
    .sub-text{
      font-size: 24px;
    }
    ol{
      padding-left: 5px;
    }
    ul {
      padding-left: 10px;
    }
    .PatchSection{
      padding-left: 5px;
    }
    .Patch > li {
      font-size: 17px;
    }
    .PatchDesc{
      font-size: 14px;
    }
    .patch-notes-card{
      height: 80%;
      width: 75%;
    }
}