.ukelele{
    margin-top: 15px;
    width: 460px;
    display: flex;
    font-family: 'Rift';
    align-items: flex-start;
    flex-direction: column;
    background-color: #141b3bb0;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 50%);
}
.stats-title {
    font-size: 24px;
    padding: 0px 10px;
    width: 100%;
    background-image:linear-gradient( to right , #FF870D, #FFBC00);
    border-radius: 7px 7px 0px 0px;
    align-items: center;
    display: flex;
}

.stats-title > select{
    border: black 3px solid;
    border-radius: 3px;
    margin-left: auto;
}
.stats{
    min-height: 378px;
    padding: 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stat{    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-bottom: 7px;
    padding-top: 4px;
    background-color: #263e5652;
    border-radius: 7px;
}
.stat-name{
    font-size: 17px;
}
.stat-value{
    font-size: 28px;
}
.classes{
    border-radius: 7px;
    display: flex;
    width: 80%;
    margin: 0px 5px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: space-evenly;
    background-color: #263e5652;
}

.unselected{
    filter: brightness(0.35);
}

.class-title{
    font-size: 24px;
    width: 100%;
}

.join-up{
    display: flex;
    flex-direction: column;
}
.join-up > a{
    color: white;
    font-family: 'Rift';
    font-size: 24px;
}

.join-up > a:hover{
    color: rgb(129, 198, 255);
    font-family: 'Rift';
    font-size: 24px;
}

@media only screen 
  and (max-device-width: 500px)  { 
    .ukelele{
        width: 100%;
    }
  }